.contents

  .contents__header
    .contents__header__frame
      .contents__header__frame__main
        Cat protection
      .contents__header__frame__main__side
        %ul.contents__header__frame__main__side__links
          %li.contents__header__frame__main__side__links__list
            HOME
          %li.contents__header__frame__main__side__links__list   
            ABOUNT
          %li.contents__header__frame__main__side__links__list 
            MENU
          %li.contents__header__frame__main__side__links__list  
            EDIT
  
  .contents__main
    .contents__main__center
      .contents__main__center__header
        里親サイトへようこそ！
      .contents__main__center__str
        猫の保護サイト
      .contents__main__center__bottom
        猫を登録する
  
  
  .contents__footer
    .contents__footer__font
      練習用サイト



  