.body
  .messagetitle
    = render "messages/message"   #messagesディレクトリにあるmessaageファイルを部分テンプレートで呼び出してる　_（アンダースコアはいらない）
    .messagetitle__comment
      .messagetitle__comment__main
      .messagetitle__comment__side
      = @message.title

  .messagedate
    = @message.created_at

  .messageauthor

  .messagetext
    = simple_format @message.content