.showtop {
  background-color: gray;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  &__head{
    font-size: 24px;
    font-weight: bold;
    &__links{
      &__link{
        text-decoration:none;

      }
    }
  }
}