.body {
  background-image: url(https://images.unsplash.com/photo-1504537103742-67c282f65f24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2768&q=80);
  background-size: 100% 100%;
}
  .messagetitle{
    width:100%;
    height: 300px;
    // background-color: red;
  }

  .messagedate{
    width: 100%;
    height: 300px;
    // background-color: blue;
  }

  .messagetext{
    width: 100%;
    height: 300px;
    // background-color: green;
  }